*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main {
    background-image: url(assests/img/IN-en-20251013-TRIFECTA-perspective_b6324826-0535-47c5-be5f-4f50e9663eaf_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
    height: 90vh;
    position: relative;

} 

.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0 ;
    background-color: black;

}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
    
}

nav img{
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;

}

.hero{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 15px;
    padding: 23px ;

}

.hero #email {
  margin: 30px;
  padding: 19px 30px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.74); 
  color: white;
  border: none;              
  border-radius: 4px;
  outline: none;             
  box-shadow: none;           
}


.btn{
    padding: 3px 8px;
    font-weight: bold;
    border: none;
}

.btn-black{
background-color: rgba(0, 0, 0, 0.74); 
  color: white;
  border: none;              
  border-radius: 4px;
  outline: none;             
  box-shadow: none;  

}


.btn-red{
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: 20px;
    border-radius: 4px;
    border-color: red;
}

.btn-red-sm{
    background-color: red;
    color: white;
    border-color: red;
}